.menuDiv {
    width: 200px;
    position: absolute;
    right: 20px;
    top: 10px;
    text-align: left;
}

.menuDiv label {
    color: grey;
    font-size: small;
}

.select {
    text-align: left;
}