.parentArea {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: -10px;
    bottom: -20px;
    /* background-color: red; */
}

.parentIndicator {
    min-width: 15px;
    min-height: 15px;
    background-color: lightgrey;
    font-size: smaller;
    border-radius: 50%;
}