.treeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* tree rendering based on the briliant solution at http://fractaledmind.com/articles/css-tree/ */

.tree {
    list-style: none;
    font-size: 30;
}

.tree,
.tree * {
    margin: 0;
    padding: 0;
}

.tree li.treeElement {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    position: relative;
    padding-left: 2vw;
}

.tree li.treeElement::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    border-top: 1px solid;
    width: 2vw;
}

.tree li.treeElement::after {
    content: '';
    position: absolute;
    left: 0;
    border-left: 1px solid;
}

.tree li.treeElement:last-of-type:not(:only-of-type)::after {
    height: 50%;
    top: 0;
}

.tree li.treeElement:first-of-type:not(:only-of-type)::after {
    height: 50%;
    bottom: 0;
}

.tree li.treeElement:not(:first-of-type):not(:last-of-type)::after {
    height: 100%;
}

.tree ul.treeElement,
.tree ol.treeElement {
    padding-left: 2vw;
    position: relative;
}

.tree ul.treeElement::before,
.tree ol.treeElement::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    border-top: 1px solid;
    width: 2vw;
}

.tree>li.treeElement {
    padding-left: 0;
}

.tree>li.treeElement::before,
.tree>li.treeElement::after {
    display: none;
}